@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: white;
  background-color: #91d8f9;
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  font-size: larger;
}

.active{
  text-decoration: underline;
}


.heroBg{
  background-image: url('https://i.ibb.co/QJC4rjc/source.png');
  background-repeat: no-repeat;
  background-size: contain; 
}

