@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background-repeat: no-repeat;
  background-size: contain;
}




/* card */
.service_card {
  border-radius: 19px;
  background: #ffffff;
  box-shadow: 5px -5px 10px #5a5a5a, -5px 5px 10px #ffffff;
}





/* button */
.s_button {
  width: full;
  padding: 6px 6px;
  height: 2em;
  border-radius: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 1px  8px #060606, 1px 1px 1px #b4abab;
}

.s_button::before {
  content: "";
  width: 0;
  height: 2em;
  border-radius: 20em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #2f2f2f 0%, #d5d5ce 80%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.s_button:hover {
  color: white;
}

.s_button:hover::before {
  width: 32em;
}

::-webkit-scrollbar {
  width: 0;
  background-color: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  scroll-behavior: smooth;
}



/* social button */
.social-links,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}



/* animation */
.card1{
  animation: animate 1s infinite ease alternate
}
@keyframes animate {
  to {
    transform: translateY(20px);
  }
}
.card2{
  animation: animate 2s infinite ease alternate
}
@keyframes animate {
  to {
    transform: translateY(20px);
  }
}



/* skill card */
.skill {
  height: 120px;
  border-radius: 20px;
  transition: all .5s ease-in-out; 
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
             -15px -15px 30px rgba(60, 60, 60, 0.082);
  text-align: center;
  overflow: hidden;
  position: relative;
}

.skill:hover {
  height: 180px;
  background: linear-gradient(360deg, #000000c5 60%, rgb(251, 247, 217) 70%);
}

.skill .content {
  display: none;
  text-align: justify;
  color: #ffffff;
  margin: 0 18px;
  position: absolute;
  bottom: -150px;
  width: 100%;
  transition: all .5s ease-in-out; 
}

.skill:hover .content {
  display: block;
  top: 130px;
}

.skill .content p {
  transition: all .5s;
  font-size: 20px;
}