@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-snap-type: Y mandatory;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: white;
  background-color: #9d3535;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  font-size: larger;
}

.active{
  text-decoration: underline;
}


.heroBg{
  background-image: url('https://i.ibb.co/QJC4rjc/source.png');
  background-repeat: no-repeat;
  background-size: contain; 
}

